{% extends 'house/base.html' %}
{% block title %}Pembayaran{% endblock %}

{% block pagecontent %}
	{% load crispy_forms_tags %}
	<h5>Pembayaran</h5>
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
		{% endfor %}
	{% endif %}

	{% crispy form %}

  {% if paid %}
  <h5>Pembayaran Lunas</h5>
  {% endif %}
	{% for rent in paid %}
		<div class="row my-2">
			<div class="col-sm-8">
				{{ rent.house.name }} >> {{rent.renter.get_full_name}} [{{rent.renter.profile.phone}}] <span class="badge badge-info">tgl: {{rent.billing_date|date:"d"}}</span>
			</div>
			<div class="col-sm-4">
				<a href="{% url 'house:pay' rent.id form.year.value form.month.value %}" class="btn btn-primary btn-sm">Catat Pembayaran</a>
			</div>
		</div>
		<ul style="list-style-type: square;">
			{% for children in rent.renter.children.all %}
			<li>
				{{ children }}
				<p><img src="{{ children.get_photo_ktp }}" width="250px"></p>
			</li>
			{% endfor %}
		</ul>
	{% empty %}
		<h5><i style="color: #E74C3C">Uups, Sepertinya belum ada data pembayaran</i> <span class="fa fa-rocket" style="color: orange"></span></h5>
	{% endfor %}

  <hr>

  {% if debt %}
  <h5>Belum Terbayar</h5>
  {% endif %}
	{% for rent in debt %}
		<div class="row my-2">
			<div class="col-sm-8">
				{{ rent.house.name }} >> {{rent.renter.get_full_name}} [{{rent.renter.profile.phone}}] <span class="badge badge-info">tgl: {{rent.billing_date|date:"d"}}</span>
			</div>
			<div class="col-sm-4">
				<a href="{% url 'house:pay' rent.id form.year.value form.month.value %}" class="btn btn-primary btn-sm">Catat Pembayaran</a>
			</div>
		</div>
		<ul style="list-style-type: square;">
			{% for children in rent.renter.children.all %}
			<li>
				{{ children }}
				<p><img src="{{ children.get_photo_ktp }}" width="250px"></p>
			</li>
			{% endfor %}
		</ul>
	{% empty %}
		<h5 style="color: teal"><i>Wah, sepertinya semua pembayaran sudah selesai</i> <span class="fa fa-child" style="color: orange"></span></h5>
	{% endfor %}
{% endblock %}

{% block sidecontent %}
	{% if show_sidecontent %}
	<div class="card text-white bg-primary mb-3">
		<div class="card-header">Transaksi {{ month }} {{ year }} </div>
		<div class="card-body">
			<h5 class="card-title">Uang Masuk:</h5>
			<h4 class="card-title text-success">{{ income }}</h4>
			<hr>
			<h5 class="card-title">Uang Keluar:</h5>
			<h4 class="card-title text-warning">{{ expense }}</h4>
			<hr>
			<h5 class="card-title">Total Kas:</h5>
			<h4 class="card-title text-{{ balance_css_class }}">{{ balance }}</h4>
		</div>
	</div>
	{% endif %}
{% endblock %}
