{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock %} - Pintokost</title>
		<link href="{% static 'custom.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap.flatly.css' %}" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
			<a class="navbar-brand" href="/">Catatan</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			{% if user.is_authenticated %}
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					{% if perms.house.add_house %}
					<li class="nav-item {% if menu_house %}active{% endif %}">
						<a class="nav-link" href="{% url 'house:list' %}">Daftar Rumah {% if menu_house %}<span class="sr-only">(current)</span>{% endif %}</a>
					</li>
					{% endif %}

					{% if request.user.is_staff %}
					    <li class="nav-item">
							<a href="{% url 'admin:index' %}" class="nav-link">Admin Page</a>
						</li>
					{% endif %}

					<li class="nav-item">
						<a href="{% url 'logout' %}" class="nav-link">Logout ({{request.user}})</a>
					</li>
				</ul>
				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</div>
			{% endif %}
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-3">
					{% block pagecontent %}
					{% endblock %}
				</div>
				<div class="col-lg-4">
					{% block sidecontent %}
					{% endblock %}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
