{% extends 'house/base.html' %}
{% block title %}{{action}} Rumah{% endblock %}
{% load crispy_forms_tags %}

{% block css %}
{{ form.media.css }}
{% endblock %}

{% block pagecontent %}
	<h4>{{action}} Rumah Sewa</h4>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form | crispy }}
		<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
{% endblock %}

{% block javascript %}
{{ form.media.js }}
<script type="text/javascript">
	$('.indoplacewidget[name="regency"]').on("select2:opening", function(e) {
		if($('.indoplacewidget[name="province"]').val()==""){
			alert('Pilih Provinsi terlebih dahulu')
			return false;
		}
	});
	$('.indoplacewidget[name="district"]').on("select2:opening", function(e) {
		if($('.indoplacewidget[name="regency"]').val()==""){
			alert('Pilih Kota/Kabupaten terlebih dahulu')
			return false;
		}
	});
	$('.indoplacewidget[name="village"]').on("select2:opening", function(e) {
		if($('.indoplacewidget[name="district"]').val()==""){
			alert('Pilih Kecamatan terlebih dahulu')
			return false;
		}
	});
</script>
{% endblock %}
