{% extends 'house/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block pagecontent %}
<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="POST" autocomplete="off">
                	{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>
                    &nbsp
                    <a href="{% url 'profile:landlord_new' %}" class="btn btn-success">Daftar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
