{% extends 'house/base.html' %}
{% block title %}Daftar Belum Bayar{% endblock %}
{% block pagecontent %}
	{% load crispy_forms_tags %}
	<h3>Daftar Belum Bayar</h3>
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
		{% endfor %}
	{% endif %}
	<form method="post">
		{% csrf_token %}
		{{form | crispy}}
		<input type="submit" name="submit" value="Submit" class="btn btn-primary">
	</form>
	{% for rent in data %}
		<div class="row my-2">
			<div class="col-sm-8">
				{{ rent.house.name }} >> {{rent.renter.get_full_name }} [{{rent.renter.profile.phone}}]
			</div>
			<div class="col-sm-4">
				<a href="{% url 'house:pay' rent.id form.year.value form.month.value %}" class="btn btn-primary btn-sm">Catat Pembayaran</a>
			</div>
		</div>
		<ul style="list-style-type: square;">
			{% for children in rent.renter.children.all %}
			<li>
				{{ children }}
				<p><img src="{{ children.get_photo_ktp }}" width="250px"></p>
			</li>
			{% endfor %}
		</ul>
	{% empty %}
		<h3>No Data</h3>
	{% endfor %}
{% endblock %}

{% block sidecontent %}
<div class="card text-white bg-primary mb-3">
	<div class="card-header">Transaksi {{ month }} {{ year }} </div>
	<div class="card-body">
		<h5 class="card-title">Uang Masuk:</h5>
		<h4 class="card-title text-success">{{ income }}</h4>
		<hr>
		<h5 class="card-title">Uang Keluar:</h5>
		<h4 class="card-title text-warning">{{ expense }}</h4>
		<hr>
		<h5 class="card-title">Total Kas:</h5>
		<h4 class="card-title text-{{ balance_css_class }}">{{ balance }}</h4>
	</div>
</div>
{% endblock %}
