{% extends 'house/base.html' %}
{% block title %}Daftar Belum Bayar{% endblock %}
{% block pagecontent %}
	{% load crispy_forms_tags %}
	<h3>Daftar Belum Bayar</h3>
	<form action="/house/latepayment/">
		<div class="row">
			<div class="col-6">
				{{ form.year|as_crispy_field }}
			</div>
			<div class="col-6">
				{{ form.month|as_crispy_field}}
			</div>
		</div>
	</form>
	{% if data.count == 0 %}
		<h3>All Paid</h3>
	{% else %}
		<ol>
			{% for rent in data %}
			<li>
				{{ rent }} <span class="badge badge-info">tanggal: {{rent.start_date.day}}</span>
				<p><a href="#" class="btn btn-primary btn-sm">Catat Pembayaran</a></p>
				<ul style="list-style-type: square;">
					{% for children in rent.renter.children.all %}
					<li>
						{{ children }}
						<p><img src="{{ children.get_photo_ktp }}" width="250px"></p>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ol>
	{% endif %}
{% endblock %}

{% block sidecontent %}
<div class="card text-white bg-primary mb-3">
	<div class="card-header">Transaksi {{ month }} {{ year }} </div>
	<div class="card-body">
		<h5 class="card-title">Uang Masuk:</h5>
		<h4 class="card-title text-success">{{ income }}</h4>
		<hr>
		<h5 class="card-title">Uang Keluar:</h5>
		<h4 class="card-title text-warning">{{ expense }}</h4>
		<hr>
		<h5 class="card-title">Total Kas:</h5>
		<h4 class="card-title text-{{ balance_css_class }}">{{ balance }}</h4>
	</div>
</div>
{% endblock %}
